**/*.svg
package.json
yarn.lock
yarn-error.log
/document
/example
*.sh
*.py
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
*.prettierignore
*.jpg
*.png
*.gif
.env
.keep
CHANGELOG.md
openChrome.applescript
.npmrc
LICENSE
